<%- include('template/cabecera',{tituloPagina:'Error404',estilo:'404.css'}) %>
<body>
    <h1>404 - ¡Anota Gol para volver!</h1>
    <div class="container" id="gameArea">
        <div class="ball" id="ball"></div>
    </div>
    <button class="button" onclick="shootBall()">¡Tira!</button>
    <script src="/js/404.js"></script>
</body>
</html>