html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1; /* ocupa todo el espacio restante */
}

footer {
  background-color: #f8f9fa; /* o el color que estés usando */
  padding: 20px;
  text-align: center;
}

.navbar {
  padding-left: 7%;  /* Espacio a la izquierda */
  padding-right: 7%; /* Espacio a la derecha */
}

/* Estilo para los enlaces del navbar */
.navbar-nav .nav-link {
    font-size: 1.25rem; /* Tamaño de texto */
    color: #ffffff; /* Color blanco para mejorar la visibilidad */
    transition: all 0.3s ease; /* Transición suave para los efectos de hover */
}

/* Efecto hover */
.navbar-nav .nav-link:hover {
    color: #ffd700; /* Cambiar el color al dorado al pasar el mouse */
    text-decoration: underline; /* Subrayado al hacer hover */
}

/* .btn {
  color: #0d6efd; /* Azul Bootstrap por defecto */


.btn:hover {
  background-color: #2ecc71; /* Verde */
  color: white; /* Cambia a blanco en hover */
  transition: 0.3s ease;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa; /* Fondo claro como Bootstrap */
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}

/* Opciones del menú */
.dropdown-item {
  padding: 0.5rem 1.25rem;
  color: #0d6efd;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover sobre opción */
.dropdown-item:hover {
  background-color: #2ecc71;
  color: white;
}
