<!-- FOOTER -->
    <footer class="bg-primary text-white text-center py-4">
      <div class="container">
        <p class="mb-1">Desarrollado por</p>
        <p class="mb-1">© 2025 Tzunuum. Todos los derechos reservados.</p>
        <p class="mb-0"><a href="politica_de_privacidad" class="text-white text-decoration-underline">Política de privacidad</a></p>
      </div>
    </footer>