<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
          <!-- Menú centrado -->
          <div class="me-auto">
            <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
              <!-- align-items-center para alinear logo e items -->

              <!-- Logo como nav-item -->
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <img src="/img/Tzunuum.png" alt="Logo de la compañía" width="50" height="50" class="d-inline-block">
                </a>
              </li>

              <!-- Otros links -->
              <li class="nav-item">
                <a class="nav-link fs-5" href="/">Inicio</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link fs-5" href="historias_exito">Historias de Éxito</a>
              </li> -->              
              <li class="nav-item">
                <a class="nav-link fs-5" href="../eventos">Eventos</a>
              </li>
              
              <% if (deportista) { %>
                <li class="nav-item">
                  <a class="nav-link fs-5" href="../mostrar_patrocinadores">Patrocinadores</a>
                </li>
                <% } else if(patrocinador || (!deportista && !patrocinador)) {%>
                  <li class="nav-item">
                    <a class="nav-link fs-5" href="../mostrar_deportistas">Deportistas</a>
                  </li>
                  <% } %>
                    <li class="nav-item">
                      <a class="nav-link fs-5" href="../contacto">Contacto</a>
                    </li>
            </ul>
          </div>

          <!-- Sección de sesión a la derecha -->
          <div class="ms-auto d-flex align-items-center">
            <% if (deportista) { %>
              <span class="text-white me-3">Hola, <%= deportista.nombre %>!</span>
              <a href="/deportistas/perfil/<%= deportista.id %>" class="btn btn-outline-light rounded-pill me-3">Mi
                perfil</a>           
              <form action="/deportistas/logout" method="POST" class="d-inline">
                <button type="submit" class="btn btn-outline-light rounded-pill px-3 py-1">Cerrar sesión</button>
              </form>
              <% } else if (patrocinador) { %>
                <span class="text-white me-3">Hola, <%= patrocinador.nombre %>!</span>
                <a href="/patrocinadores/perfil/<%= patrocinador.id %>"
                  class="btn btn-outline-light rounded-pill me-3">Mi perfil</a>            
                <form action="/patrocinadores/logout" method="POST" class="d-inline">
                  <button type="submit" class="btn btn-outline-light rounded-pill px-3 py-1">Cerrar sesión</button>
                </form>
                <% } else { %>
                  <div class="dropdown">
                    <button class="btn btn-light fw-bold rounded-pill px-4 py-2" type="button" id="dropdownLogin" data-bs-toggle="dropdown" aria-expanded="false">
                      Iniciar sesión
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownLogin">
                      <li><a class="dropdown-item" href="/deportistas/login">Deportista</a></li>
                      <li><a class="dropdown-item" href="/patrocinadores/login">Patrocinador</a></li>
                    </ul>
                  </div>
                  <% } %>
          </div>
        </div>
      </div>
    </nav>